.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.input_style {
  width: 100%;
}

.delete_icon {
  width: 30px;
  height: 30px;
  background: url("../../../assets/delete.svg");
  background-size: 30px 30px;
  cursor: pointer;
}