.board {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr 7fr 1fr;
  height: 100vh;
}

.board_content {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
}

@media screen and (max-width: 1200px) {
  .board {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
  }
}