body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/flow_background.png");
  background-size: cover;

}

h1,
p {
  font-family: 'Philosopher', sans-serif;
  /* font-family: 'Dancing Script', cursive; */
  margin: 0px;
}