.button {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  border: 1px solid #7c52de;
  background: #7c52de;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button_icon {
  width: 15px;
  height: 15px;
  background: url("../../../assets/plus.svg");
}

.button:hover {
  background: #9466ff;
  border: 1px solid #9466ff;
}

.button_text {
  font-size: 20px;
  font-family: 'Philosopher', sans-serif;
  line-height: 40px;
  color: #f0f8ff;
}

.center {
  align-self: center;
}

.cancel,
.delete {
  padding-left: 40px;
  padding-right: 40px;
}

.delete {

  border: 1px solid #c41e1e;
  background: #c41e1e;
}

.delete:hover {
  background: #ea4141;
  border: 1px solid #ea4141;
}

@media screen and (max-width: 500px) {
  .button_text {
    font-size: 16px;
  }

  .add-new-task .button_text {
    display: none;
  }

  .add-new-task {
    padding: 10px;
  }

  .button {
    display: flex;
    column-gap: 10px;
    align-items: center;
    border-radius: 20px;
    box-shadow: none;
  }
}